.guarantee-section {
  margin-bottom: 10rem;
  padding: 0 6rem;
}

@media only screen and (max-width: 840px) {
  .guarantee-section {
    padding: 0 5rem;
  }
}

@media only screen and (max-width: 650px) {
  .guarantee-section {
    padding: 0 4rem;
  }
}

@media only screen and (max-width: 440px) {
  .guarantee-section {
    padding: 0 2rem;
  }
}

@media only screen and (max-width: 350px) {
  .guarantee-section {
    padding: 0 1rem;
  }
}