.button {
  border: none;
  padding: 1.5rem 3rem;
  border-radius: 10rem;
  color: white;
  font-size: 1.6rem;
  transition: all 0.2s;
}

.button--on{
  background-color: #8979e8;
  cursor: pointer;
}

.button--on:hover {
  background-color: #7160d1;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.button--on:active {
  transform: translateY(-1px);
  box-shadow: 0 .6rem .8rem rgba(0, 0, 0, 0.2);
}

.button--of{
  background-color: rgb(83, 83, 83);
  pointer-events: none;
}