.skills-content__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem 2rem;
  margin-left: 5rem;
}

@media only screen and (max-width: 840px) {
  .skills-content__container {
    margin-left: 0;
  }
}

@media only screen and (max-width: 540px) {
  .skills-content__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
