.paragraph {
  font-size: 2rem;
  color: #ddd;
  max-width: 60rem;
  margin: 0 auto;
  margin-bottom: 5rem;
  line-height: 2.8rem;
}

.email {
  color: #64e0ff;
}

@media only screen and (max-width: 540px) {
  .paragraph {
    font-size: 1.8rem;
  }

  .email {
    font-size: 1.8rem;
  }
}
