.badge__container {
  display: flex;
  align-items: flex-start;
  width: fit-content;
}

.badge__number {
  display: block;
  font-size: 3.6rem;
  line-height: 2rem;
  margin-bottom: 1.5rem;
}

.badge__text {
  display: block;
  font-size: 1.8rem;
}
