.u-margin-left {
  margin-left: 1rem;
}

.u-margin-top {
  margin-top: 3rem;
}

.u-margin-top-bottom {
  margin: 3rem 0;
}

.u-margin-bottom {
  margin-bottom: 2rem;
}

.u-margin-bottom-hight {
  margin-bottom: 5rem;
}
